.fesbox-container {
  background:#00356b;
}
.fesbox {
  padding-top:10px;
  height:70px;
  z-index:99999999;
}
.fesbox img {
  max-width:100%;
}
.header .navbar {
  top:55px;
  position:absolute;
  left:10px;
}
body .header-upper {
  position:absolute;
}
.header {
  background:#fff;
  border:0;
}
.header .header-brand-text h1 {
  color:#333;
  position: relative;
  top: 0px;
  z-index: 9999999;
  font-size:55px;
}
.header .header-brand-text h1 span {
  color:#000;
}
body .header {
  padding:33px 0 50px 0;
}
.sponsorbox {
  background:#fff;
  display:inline-block;
  text-align:center;
}
.sponsorbox img {
  margin:5px 20px;
  padding:6px;
}

.container.page-10.section-2 {
  min-height:700px;
}
.header-upper {
  height:1px;
  padding:0;
}
#content-below .bg-primary {
  background:rgba(0, 53, 107, 0.89) !important;
}
#content-below .text-primary-darkend {
    color: #f4f4f4 !important;
    opacity: 0.5;
}
.header-btn {
  color: #f4f4f4;
  opacity: 0.5;
}
.navbar-toggleable-md .navbar-main .navbar-nav>.nav-item>.nav-link, .navbar-toggleable-md .navbar-main .navbar-nav>.nav-link, .navbar-toggleable-md.navbar-main .navbar-nav>.nav-item>.nav-link, .navbar-toggleable-md.navbar-main .navbar-nav>.nav-link {
  color:#333;
  font-size:15px;
}
.markline {
  border-top:2px solid #333;
  position:relative;
  top:-45px;
}
