.fesbox {
  padding-top:10px;
  height:70px;
  background:#fff;
  z-index:99999999;
}
.fesbox img {
  max-width:100%;
}
.header .navbar {
  top:55px;
  position:absolute;
  left:10px;
}
body .header-upper {
  position:absolute;
}
.header {
  background:#34495e;
}
.header .header-brand-text h1 {
  color:#CDD1D6;
  position: relative;
  top: 0px;
  z-index: 9999999;
  font-size:55px;
}
.header .header-brand-text h1 span {
  color:#fff;
}
body .header {
  padding:33px 0 50px 0;
}
.sponsorbox {
  background:#fff;
  display:inline-block;
}
.sponsorbox img {
  margin:5px 20px;
  padding:6px;
}

.container.page-10.section-2 {
  min-height:700px;
}
