body {
  padding-top: 70px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.resultbox {
  color:#333;
  padding:5px;
  margin:10px 0;
  background:#f4f4f4;
  border:1px solid #ccc;
  border-radius:5px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ddd;
  z-index:9999;
}
.container .text-muted {
  margin: 20px 0;
  color:#666;
}
.footer span.right {
  float:right;
}
.navbar-default {
  background-color:#CF4803;
  border:0;
}
.navbar-default .navbar-brand {
  color:#fff;
  margin-top:4px;
}
.navbar-default .navbar-nav > li > a { 
  color:#fff;
  margin-top:4px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
  background:#fff;
  border-radius:5px 5px 0 0;
}
.multicolumn{
  -moz-column-count: 3;
  -moz-column-gap: 10px;   /* shown in yellow */            
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;   /* shown in yellow */            
  column-count: 3;
  column-gap: 10px;   /* shown in yellow */            
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color:#333;
}

.plainlist {
  list-style:none;
  margin-left:0;
  padding-left:0;
}
.plainlist li {
  margin:0 0 10px 0;
  padding:0;
}


@media print {
  .sidebar, .printhide, .footer, .breadcrumb {
    display:none !important;
  }
  body, html {
    margin:0;
    padding:0;
  }
  .col-md-offset-2.main {
    margin-left:0 !important;
    padding: 0 !important;
  }
  .col-md-10.main {
    width: 100% !important;
    padding: 0 !important;
  }
  a:link:after, a:visited:after {
      content: "";
  }
}

[data-toggle="buttons"] > .btn > input[type="radio"],
[data-toggle="buttons"] > .btn > input[type="checkbox"] {
    clip: rect(1px 1px 1px 1px);
}
table.ellipsis {
  border:1px solid #ccc; 
  width:100%;
  table-layout: fixed;
}
.ellipsis th, .ellipsis td { 
  max-width:100px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis; 
  width:100px;
}
.ellipsis th.large, .ellipsis td.large { 
  max-width:300px;
  width:300px;
}

.ellipsis th.smal, .ellipsis td.small { 
  max-width:50px;
  width:50px;
}


@media (min-width:768px){
	a.navbar-brand{
		display:none
	}
  .navbar-collapse .navbar-right a {
    position:absolute;
    right:2px;
    top:2px;
  }
}
@media (min-width:992px){
	a.navbar-brand{
		display:block
	}
  .navbar-collapse .navbar-right a {
    position:relative;
    right:auto;
    top:auto;
  }
}
.navbar-fixed-top {
  z-index:1080;
}
.info-bar i {
  font-size:25px;
  float:left;
  margin-right:10px;
}
.info-bar a {
  font-weight:bold;
  color:#333;
}
.showlatex {
  display:none;
}
.latex {
  cursor:pointer;
}
