body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.resultbox {
  color:#333;
  padding:5px;
  margin:10px 0;
  background:#f4f4f4;
  border:1px solid #ccc;
  border-radius:5px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: -80px;
  width: 100%;
  height: 60px;
  background-color: #ddd;
  z-index:9999;
}
.container .text-muted {
  margin: 20px 0;
  color:#666;
}
.footer span.right {
  float:right;
}
.navbar-default {
  background-color:#CF4803;
  border:0;
}
.navbar-default .navbar-brand {
  color:#fff;
  margin-top:4px;
}
.navbar-default .navbar-nav > li > a { 
  color:#fff;
  margin-top:4px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
  background:#fff;
  border-radius:5px 5px 0 0;
}
.multicolumn{
  -moz-column-count: 3;
  -moz-column-gap: 10px;   /* shown in yellow */            
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;   /* shown in yellow */            
  column-count: 3;
  column-gap: 10px;   /* shown in yellow */            
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color:#333;
}

.plainlist {
  list-style:none;
  margin-left:0;
  padding-left:0;
}
.plainlist li {
  margin:0 0 10px 0;
  padding:0;
}


@media print {
  .sidebar, .printhide, .footer, .breadcrumb {
    display:none !important;
  }
  body, html {
    margin:0;
    padding:0;
  }
  .col-md-offset-2.main {
    margin-left:0 !important;
    padding: 0 !important;
  }
  .col-md-10.main {
    width: 100% !important;
    padding: 0 !important;
  }
  a:link:after, a:visited:after {
      content: "";
  }
}

[data-toggle="buttons"] > .btn > input[type="radio"],
[data-toggle="buttons"] > .btn > input[type="checkbox"] {
    clip: rect(1px 1px 1px 1px);
}
table.ellipsis {
  border:1px solid #ccc; 
  width:100%;
  table-layout: fixed;
}
.ellipsis th, .ellipsis td { 
  max-width:100px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis; 
  width:100px;
}
.ellipsis th.large, .ellipsis td.large { 
  max-width:300px;
  width:300px;
}

.ellipsis th.smal, .ellipsis td.small { 
  max-width:50px;
  width:50px;
}


@media (min-width:768px){
}
@media (min-width:992px){
}
@media (min-width:1092px){
.info-bar i {
  font-size:25px;
  float:left;
  margin-right:10px;
}
.info-bar a {
  font-weight:bold;
  color:#333;
}
.showlatex {
  display:none;
}
.latex {
  cursor:pointer;
}
.footer p {
  text-align:center;
}
.footer i {
  font-size:140%;
}
@media (max-width: 767px) {
  .btn-lg {
    margin-bottom:5px;
  }
  .footer span.right, .footer .pull-left {
    display:block;
    text-align:center;
    float:none !important;
  }
  body {
    margin-bottom:110px;
  }
}
#google_translate_element {
  float:right;
  position:relative;
  top:10px;
  right:10px;
}
.translated-ltr .navbar-fixed-top .container {
  position:relative;
  top:56px;
}
.navbar-brand {
  position:relative;
  top:-14px;
}
#admin {
  position:fixed;
  bottom:5px;
  right:5px;
  z-index:400000;
}
/* In OMAT we don't need to show the translate button. At that point, users have either already 
 * activated the transation or they are not interested. Pending: marking all body tags with the
 * right class.
 * Note that we can't do DISPLAY:NONE as we have tweaked some other CSS because the Google Translate
 * Javascript messes with other CSS / layout on the page
*/
.notranslate #google_translate_element, .omat #google_translate_element, .profile #google_translate_element{position:absolute}
.navbar-brand img {
  width:50px;
}

/* Share buttons */
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em 0.3em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em
}

.resp-sharing-button span {
  padding-left: 0.4em
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}
#sharingbuttons {
    position:fixed;
    top:-4px;
    right:90px;
    padding:5px;
    z-index:10000;
}
.resp-sharing-button{
  border:2px solid #fff;
}

@media (min-width:768px){
  #sharingbuttons {
    top:50px;
    right:45px;
  }
}
@media (max-width:555px){
  .hide_on_smallest_screens {
    display:none;
  }
}
@media (max-width:455px){
  #sharingbuttons {
    display:none;
  }
}
@media (min-width:992px){
  #sharingbuttons {
    top:220px;
    right:10px;
  }
  .resp-sharing-button__link {
    display:block;
  }
}
h5.text-faded a{color:#f4f4f4;text-decoration:underline}
.breadcrumb{margin-top:10px}

@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
footer address a{color:#fff}
.header .header-brand-text h1{font-size:50px}
.navbar-toggleable-md .navbar-main .navbar-nav>.nav-item>.nav-link, .navbar-toggleable-md .navbar-main .navbar-nav>.nav-link, .navbar-toggleable-md.navbar-main .navbar-nav>.nav-item>.nav-link, .navbar-toggleable-md.navbar-main .navbar-nav>.nav-link {
  color:#fff;
}
.header .navbar {
  position:fixed;
  top:-12px;
  z-index:999999;
}
.nav-sm .nav-link{display:none}
body .header {padding-top:52px}
body .header-upper {
  width:100%;
  position:fixed;
  z-index:999999;
}
table.table-striped a {
  color:#428bca;
}
